<div class="container my-5">
  <h2 class="mb-4 text-center fw-bold">Courses</h2>
  
  <div class="table-responsive shadow-sm rounded-4 overflow-hidden">
    <table class="table table-striped table-hover mb-0 align-middle text-center"
           style="border-radius:1rem; overflow:hidden;">
      <thead style="background:linear-gradient(90deg, #8e3d97, #702875); color:white;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Course</th>
          <th scope="col">Section</th>
          <th scope="col">Semester No</th>
          <th scope="col">Semester Type</th>
        </tr>
      </thead>
      <tbody>
        <% @teacher_sections.each do |s| %>
          <% s.enrollments.each do |e| %>
            <% if e.grade_id == 11 %>
              <tr>
                <td class="fw-semibold"><%= s.id %></td>
                <td><%= s.course.name %></td>
                <td><%= s.name %></td>
                <td><%= s.semester.semester_number %></td>
                <td><%= s.semester.semester_type %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
