<%=turbo_frame_tag 'main' do%>
<h1><%= @course.id %></h1>
<p><%= @course.name %></p>
<p><%= @course.coursecode %></h1>
<ul>
  <li><%= link_to "Edit", edit_admin_course_path(@course) %></li>
  <li><%= button_to "Destroy", admin_course_path(@course), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %></li>
  <li>
    <%= link_to "Back", admin_courses_path %>
  </li>
</ul>
<%end%>
